<router-outlet> </router-outlet>
<div [hidden]="submitted">
    <h1 align="center">Loan Request Form</h1>

    <form (ngSubmit)="onSubmit()" #loanRequestForm="ngForm">

        <div class="row ">
            <div class="col-md-8 offset-md-2 ">
                <label for="accountId">Account Id</label>
                <input type="text" class="form-control" title="Enter Account Id" id="accountId" required pattern= "[0-9]*" minlength="12" maxlength="12"
                    [(ngModel)]="model.accountId" name="accountId" #accountId="ngModel">
            


                <div *ngIf="!accountId.value && accountId.touched" class="alert alert-danger ">
                    Account Id is required
                </div>


                <div *ngIf="accountId.invalid && accountId.dirty && accountId.value" class="alert alert-danger ">
                    Account Id must be a 12 digit positive integer
                </div>
            </div>
        </div>
    
        <div class="row ">
            <div class="col-md-4 offset-md-2 ">
                <label for="amount">Enter Loan Amount </label>
                <input type="text" class="form-control" id="amount" required pattern="[0-9]*" [(ngModel)]="model.amount" name="amount" minlength="4" maxlength="10"
                    #amount="ngModel">
                    

                <div *ngIf="!amount.value && amount.touched" class="alert alert-danger ">
                    Amount is required
                </div>

                <div *ngIf="amount.invalid && amount.dirty && amount.value" class="alert alert-danger ">
                    Amount must be a positive integer 
                </div>
            </div>
        

        
            <div class="col-md-4">
                <label for="type">Loan Type</label>
                <select class="form-control" id="type" name="type" required [(ngModel)]="model.type" #type="ngModel">
                        <option value="Personal Loan">Personal Loan</option>
                        <option value="House Loan">House Loan</option>
                        <option value="Vehicle Loan">Vehicle Loan</option>
                        <option value="Jewel Loan">Jewel Loan</option>
                </select>
            

            </div>
        </div>

        <div class="row ">
            <div class="col-md-4 offset-md-2 ">
                <label for="tenure">Tenure(in months)</label>
                <input type="number" class="form-control" id="tenure" required [(ngModel)]="model.tenure"  pattern="[0-9]*" name="tenure" 
                    #tenure="ngModel" min="12" max="240" required>
                
                <div *ngIf="!tenure.value && tenure.touched " class="alert alert-danger ">
                    Tenure is required
                </div>

                <div *ngIf="tenure.invalid && tenure.dirty && tenure.value" class="alert alert-danger ">
                    Tenure must be a positive integer between 2 and 240 
                </div>
                
            </div>
    

        
            <div class="col-md-4 ">
                <label for="roi">Enter Rate of Interest </label>
                <input type="text" class="form-control" id="roi" required pattern="[0-9]*" [(ngModel)]="model.roi" name="roi" minlength="1" maxlength="3" 
                    #roi="ngModel">
                    
                <div *ngIf="!roi.value && roi.touched " class="alert alert-danger ">
                    Rate of Interest is required
                </div>

                <div *ngIf="roi.invalid && roi.dirty && roi.value" class="alert alert-danger ">
                    Rate of Interest must be a number between 4 & 15 
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-4 offset-md-2 ">
                <label for="creditScore">Credit Score </label>
                <input type="text" class="form-control" id="creditScore" required pattern="[0-9]*" [(ngModel)]="model.creditScore" minlength="3" maxlength="3"
                    name="creditScore" #creditScore="ngModel">
                    <br>
                <div *ngIf="!creditScore.value && creditScore.touched " class="alert alert-danger ">
                    Credit Score is required
                </div>

                <div *ngIf="creditScore.invalid && creditScore.dirty && creditScore.value" class="alert alert-danger ">
                    Credit Score must be a positive integer between 100 & 1000 
                </div>
            </div>


        
            <div class="col-md-4  ">
                <label for="status">Loan Status</label>
                <select class="form-control" id="status" name="status" required [(ngModel)]="model.status" #status="ngModel">
                        <option>Pending</option>
                        <option>Approved</option>
                        <option>Rejected</option>
                    </select>
                    
            </div>
        </div>

        <div class="row ">
                <div class="col-md-4 offset-md-5 col-mb-4 ">
                
        <button type="submit" align="center" class="btn btn-success " [disabled]="!loanRequestForm.form.valid ">Submit</button>
                </div>
        </div>


    </form>

</div>
