<p>loan-disbursal works!</p>

<form>


  <div>
    <label for="show-loan-requests">Show Loan Requests</label>
    <br>
    <select name="show-loan-requests" class="form-control" id="show-loan-requests" required
      [(ngModel)]="listOption.show-loan-requests">
      <option value="" disabled selected hidden>Please Choose...</option>
      <option value="retrieve all">Retrieve all loan requests</option>
      <option value="retrieve approved">Show the loan requests to be accepted</option>
      <option value="retrieve rejected">Show the loan requests to be rejected</option>
    </select>
    <br>
    <button type="submit" class="btn btn-primary ">Submit</button>

  </div>


  <div>
    <label for="show-approved-loan-requests">Show Loan Disbursed Data</label>
    <br>
    <button type="submit" class="btn btn-primary ">Yes</button>

  </div>


  <div>
    <label for="update-account-balance">Update Account Balance</label>
    <br>
    <button type="submit" class="btn btn-primary ">Yes</button>
  </div>


</form>
