<div [hidden]="submitted">
  <div class="form-group col-md-3 offset-md-4">
    <h1 align="center">Account Summary</h1>
  </div>
  <form (ngSubmit)="onSubmit()" #accountSummaryForm="ngForm">
    <div class="form-group col-md-3 offset-md-4">
      <label for="accountID">Account ID</label>
      <input type="text" class="form-control" title="Enter Account ID" pattern="[0-9]*" minlength=12 maxlength=12
        id="accountID" required [(ngModel)]="passbook.accountID" name="account ID" #accountID="ngModel"><br>

      <div *ngIf="accountID.invalid && accountID.touched" class="alert alert-danger ">
        <div *ngIf="accountID.errors.required">
          Account ID is required
        </div>

        <div *ngIf="accountID.errors.minlength">
          Account ID must be 12 characters long
        </div>

        <div *ngIf="accountID.errors.pattern">
          Account ID must be numeric
        </div>


      </div>

      <label for="startDate">Start Date</label>
      <input type="date" class="form-control" title="Enter Start Date" id="startDate" required
        [(ngModel)]="passbook.startDate" name="startDate" #startDate="ngModel">

      <div *ngIf="startDate.valid && startDate.pristine " class="alert alert-danger ">
        Enter start date in correct format
      </div>

      <label for="endDate">End Date</label>
      <input type="date" class="form-control" title="Enter End Date" id="endDate" required
        [(ngModel)]="passbook.endDate" name="endDate" #endDate="ngModel"><br>

      <div *ngIf="endDate.valid && endDate.pristine " class="alert alert-danger ">
        Enter end date in correct format
      </div>
      <div class="d-flex justify-content-center ">
        <button type="submit " class="btn btn-success " [disabled]="!accountSummaryForm.form.valid ">Submit</button>
      </div>
    </div>
  </form>
</div>

<div>

<div ng-controller="WithFixedColumnsCtrl as showCase">
    
        
        <table id="showcase-fixedcolumns" datatable=""  cellspacing="10" cellpadding="10" border="1" width=1200 align="center">
        <thead>
        <tr align="center">
            <th>Id</th> 
					  <th>Date</th>
						<th>Amount</th>
					  <th>From</th> 
					  <th>To</th> 
					  <th>Type</th> 
					  <th>Option</th>
					  <th>Cheque ID</th> 
					  <th>Closing Balance</th>
        </tr>
        </thead>
        </table>
        </div>
        </div>
