<p>account-summary works!</p>
<div [hidden]="submitted">
  <h1>Account Summary</h1>
  <form (ngSubmit)="onSubmit()" #AccountSummary="ngForm">
      <label for="accountID">Account ID</label>
      <input type="text" class="form-control" title="Enter Account ID" pattern="[0-9]*" minlength=12 maxlength=12 id="accountID" required [(ngModel)]="passbook.accountID" name="account ID" #accountID="ngModel"><br>
  
   <div *ngIf="accountID.invalid && accountID.touched" class="alert alert-danger ">
        Account ID is required
      </div>
      <div *ngIf="accountID.invalid && accountID.dirty" class="alert alert-danger ">
        Enter 12 digit account number
      </div>

  
      <label for="startDate">Start Date</label>
      <input type="date" class="form-control" title="Enter Start Date" pattern="[0-9]*" id="startDate" required [(ngModel)]="passbook.startDate" name="Start Date" #startDate="ngModel">
      <div [hidden]="startDate.valid || startDate.pristine " class="alert alert-danger ">
        Enter start date in correct format
      </div>

    <label for="endDate">End Date</label>
      <input type="date" class="form-control" title="Enter End Date" pattern="[0-9]*" id="endDate" required [(ngModel)]="passbook.endDate" name="End Date" #endDate="ngModel"><br>
      <div [hidden]="endDate.valid || endDate.pristine " class="alert alert-danger ">
        Enter end date in correct format
      </div>
      <button type="submit " class="btn btn-success " [disabled]="!AccountSummary.form.valid ">Submit</button>
  </form>
</div>