 <!-- <form id="update-contact-form" class="container contact-updation-form" method="POST" action="UpdateCustomerContact">

    <div class="row">
        <div class="form-group col-md-12 ">
            <label for="account-id">Account Id</label> <input type="text" class="form-control" id="account-id" name="account-id" placeholder="Enter account id" minlength="12" maxlength="12" pattern= "[0-9]*" title="12 digit account id" required>
        </div>

        <div class="form-group col-md-6 ">
            <label for="contact">Contact Details</label> <input type="tel" class="form-control" id="contact" name="contact" placeholder="Enter contact number"  pattern="^\d{10}$" title="10 digit phone number" required>
        </div>
    </div>
    
        <button type="submit" class="btn btn-primary">Update contact
            details</button>
    


</form>  -->



<br>
<label>  
    AccountId:  
    <input type="text" [formControl]="account-id">  
  </label>
  <br>
<label>  
    Contact:  
    <input type="text" [formControl]="contact">  
  </label>  
