
<html>
<a routerLink="/transaction/debit-slip" routerLinkActive="active">Debit using Slip</a>
<p>Main page</p>
<a routerLink="account/add-account">Add account</a>
<a routerLink='account/update-name'>Update Name</a>
<a routerLink='account/update-contact'>Update Contact</a>
<a routerLink='account/update-address'>Update Address</a>
<a routerLink='passbook/account-summary'>Account Summary</a>
<a routerLink='loan/loan-request'>Loan Request</a>

<a routerLink='account/update-name'>Update Name</a> <br>
<a routerLink='account/update-contact'>Update Contact</a><br>
<a routerLink='account/update-address'>Update Address</a><br>
<a routerLink='passbook/account-summary'>Account Summary</a><br>
<a routerLink='login'>Login</a> <br>
<a routerLink='passbook/passbook-update'>Passbook Update</a><br>
<a routerLink='transaction/credit-slip'>Credit Using Slip</a>


<router-outlet>
</router-outlet>
</html>