<p>Passbook</p>
<div [hidden]="submitted">
    <h1>Update Passbook</h1>
    <form (ngSubmit)="onSubmit()" #passbook="ngForm">
        <label for="AccountID">Account ID</label>
        <input type="text" class="form-control" title="Enter Account ID" pattern="[0-9]*" minlength=12 maxlength=12 id="AccountID" required [(ngModel)]="Passbook.AccountID" name="Account ID" #AccountID="ngModel">
        <div *ngIf="title.invalid && title.touched" class="alert alert-danger ">
            Account ID is required
        </div>
        <button type="submit " class="btn btn-success " [disabled]="!passbook.form.valid ">Submit</button>
    </form>
</div>