
<div [hidden]="submitted">
    <div class="form-group col-md-3 offset-md-4">
    <h1 align="center">Update Passbook</h1>
    </div>
    <form (ngSubmit)="onSubmit()" #passbook="ngForm">
        <div class="form-group col-md-3 offset-md-4">
        <label for="AccountID">Account ID</label>
        <input type="text" class="form-control" title="Enter Account ID" pattern="[0-9]*" minlength="12" maxlength="12" id="AccountID" required [(ngModel)]="model.accountID" name="Account ID" #accountID="ngModel">
        <div *ngIf="accountID.invalid && (accountID.touched || accountID.dirty)" class="alert alert-danger ">
                      <div *ngIf="accountID.errors.required">
                        Account ID is required.
                      </div>
                      <div *ngIf="accountID.errors.minlength">
                        Account ID must be 12 characters long.
                      </div>
                      <div *ngIf="accountID.errors.pattern">
                        Invalid Format. Only numbers allowed.
                      </div>             
        </div>
        <div class="d-flex justify-content-center ">
        <button type="submit " class="btn btn-success " [disabled]="!passbook.form.valid ">Submit</button>
        </div>
    </div>
    </form>
</div>

 <table *ngIf = "dataReceived" id="showcase-fixedcolumns" datatable=""  cellspacing="10" cellpadding="10" border="1" width=1200 align="center">
    <thead>
    <tr align="center">
        <th>Id</th> 
        <th>Date</th>
        <th>Amount</th>
        <th>From</th> 
        <th>To</th> 
        <th>Type</th> 
        <th>Option</th>
        <th>Cheque ID</th> 
        <th>Closing Balance</th>
    </tr>
    <tr *ngFor = "let trans of dataResponse">
        <td>{{trans.id}}</td>
        <td>{{trans.transDate}}</td>
        <td>{{trans.amount}}</td>
        <td>{{trans.transFrom}}</td>
        <td>{{trans.transTo}}</td>
        <td>{{trans.type}}</td>
        <td>{{trans.option}}</td>
        <td>{{trans.chequeId}}</td>
        <td>{{trans.closingBalance}}</td>
    </tr>
    </thead>
    </table> 

<div>
  <ul>
    <li *ngFor = "let tr of dataResponse; let i = index">
      {{tr['name']}}
    </li>
    </ul>
</div>