
<div [hidden]="submitted">
    <h1>Update Passbook</h1>
    <form (ngSubmit)="onSubmit()" #passbook="ngForm">
        <label for="AccountID">Account ID</label>
        <input type="text" numbersOnly required class="form-control" title="Enter Account ID" pattern="[0-9]*" minlength="12" maxlength="12" id="AccountID" required [(ngModel)]="passbook.accountID" name="Account ID" #accountID="ngModel">
        <div *ngIf="accountID.invalid && accountID.touched" class="alert alert-danger ">

                <div *ngIf="accountID.errors.required">
                        Account ID is required.
                      </div>
                      <div *ngIf="accountID.errors.minlength">
                        Account ID must be 12 characters long.
                      </div>
        </div>
        <button type="submit " class="btn btn-success " [disabled]="!passbook.form.valid ">Submit</button>
    </form>
</div>